@import "./cssVariable";

@mixin button-blue($padding, $fontW, $fontS) {
    background-color: $primary-blue-color;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    padding: $padding;
    font-weight: $fontW;
    font-size: $fontS;

}

@mixin button-white($padding, $fontW, $fontS) {
    background-color: white;
    color: $primary-blue-color;
    text-decoration: none;
    border-radius: 8px;
    padding: $padding;
    font-weight: $fontW;
    font-size: $fontS;
    box-shadow: 1.5px 1.5px 0px 1.5px #0052CC;
    border: 1px solid $primary-blue-color

}

@mixin small-blue-text {
    font-size: 20px;
    color: $primary-blue-color;
    font-weight: 500;
}

@mixin  big-black-text {
    font-size: 26px;
    font-weight: 800;
    margin: 10px 0;
}